<%= form_for(@forecast) do |f| %>
  <% if @forecast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecast.errors.count, "error") %> prohibited this forecast from being saved:</h2>

      <ul>
      <% @forecast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <!--div class="field">
    <!--%= f.label :lng %><br-->
    <!--%= f.text_field :lng %-->
  <!--/div-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
