<p id="notice"><%= notice %></p>
<pre>
<p> Weather Json
<%=@forecast.city%>
<%=@forecast.weather%></p>
</pre>


<p>
  <strong>Lat:</strong>
  <%= @forecast.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @forecast.lng %>
</p>

<div>
  <p>Before you hit the sea shore, watch this video to beaware of the consequences:-</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/2ji02dSx1nM" frameborder="0" allowfullscreen></iframe>
  </div>
<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
