<p id="notice"><%= notice %></p>

<p> The weather is <%= @weather.currently.temperature %> </p>



<p>
  <strong>Lat:</strong>
  <%= @forecast.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @forecast.lng %>
</p>

<%= link_to 'Edit', edit_forecast_path(@forecast) %> |
<%= link_to 'Back', forecasts_path %>
