<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | SurfDub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<% flash.each do |name, msg| -%>
         <%= content_tag :div, msg, class: name %>
   <% end -%>
   
    <% if current_user %>
     Signed in as <%= current_user.name %>
     <%= link_to "Sign out", signout_path %>
     <% else %>
     <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      <%= link_to "Sign in with facebook", "/auth/facebook" %>
     <%= link_to "Sign in with google", "/auth/google_oauth2" %>
     <% end %>
     
     <%= render 'shared/navbar' %>
     <div class="main-page-content <%= controller.controller_name %>">
         <%= yield %>
     </div>
     
</body>
</html>
